body {
    background-color: lightslategray;
}

.sample {
    height: 50px;
    border: solid black 1px;
    background-color: darkorange;
    margin: 10px;


    /* text-align: center; */
    
}

#block-sample {
display: block;
    }

#inline-sample {
    display: inline;
}

#none-sample {
    display: none;
}

.block-elements > * {
    border: 1px solid blue;
} 
/* The asterix is the Universal Selector */

 .inline-elements > * {
    border: 1px dashed red;
}


#relative-sample  {
    height: 50px;
    width: 50px;
    position: relative;
    /* where are we starting the relative position from?  */
    top: 20px;
    /* relative to the preceding div; in this case, the '<div class="sample">'; line 103 of the html */
    left: 10px;
    background-color: green;
}

/* OPTION-SHIFT-down arrow  ---   will duplicate and paste the next row down [or up arrow] */



#absolute-sample  {
    height: 50px;
    width: 50px;
    position: absolute;
    /* relative to it's parent/ancestor */
    top: 20px;
    /* So the 'absolute' designation refers to the section [html] that follows [come after/or really, came before] the section that the 'relative' designation uses. Like the grandparent div. In this case, the absolute will use/target the '<body>' element.  */
    right: 30px;
    background-color: blue;
}

#fixed-sample  {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    left: 100px;
    background-color: red;

}

#static-sample  {
    height: 50px;
    width: 50px;
    position: static;
    /* 
    bottom: 20px;
    left: 100px;  
    take out these two, and nothing happens
    */
    background-color: black;
}

#for-spacing {
    height: 100vh;
} 
