


.container {
    display: block;
    border: solid black 2px;
    background-color: #ff5100;
    margin: 20px;
    text-align: center; 
}

#links {
display: grid;
grid-template-columns: repeat(4, 25%);
} 


