


body {
    background-color: hsla(98, 100%, 66%, 0.906);
}

.container {

    display: block;
    border: solid black 2px;
    background-color: #ff5100;
    margin: 20px;
    text-align: center; 
    
}

#links {

display: grid;
grid-template-columns: repeat(4, 25%);

}







