


#keypad {
    display: grid;
    grid-template-rows: repeat (4, 100px);
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    align-content: center;
    height: 100vh;
}


.key {
    background-color: slategray;
    border: solid black 1px; 
    text-align: center;
    font-size: xx-large;
    font-family: Arial;
    color: white;
    padding: 30px;
} 


